@page "/menu/resto"

<div class="container">
<img src="https://ijbiqg.dm.files.1drv.com/y4m0Ev2wN5-dHgPa1d2BBXHB51G5WtZnSArtazX_tMa0DeKX1kKxwUcMcxfVTVXMUKiworNI67KpYBTq4z5yVftvao0b5bkus9bJWyb7gmwL-9ZSeuq6RBPT-bNzff1EMKC8gukEoIEqi-x40uF6zOxTYpPV4r6lONvHNcjpsLpVhcGkTEnwneT4HBmS4TUp8dQ-UlJjMVvHsuUG7jGjsdJ4w?width=510&height=660&cropmode=none" width="100%" height="100%" />
<br/>
<img src="https://jaujtq.dm.files.1drv.com/y4m2ggDA1KnoC51MiZLZW5cwwVoSEzkdyW-sy-YwAnRr_To1WfBO9IuD9GAFONBc_aOTQ9q8ttcKw1SmpXAvTk2MCPiDMbAcZoDLaWNlzc8oEKvdlHcnAjFQWoLkTmMRXV269HYIatiN6m3Q0naQDsSs22DGAf_Cdl6UIXKCGx7olZpv4V-ip3Z6X6KJQo9UkZC4gX399UW3aQENI3QjWKUGg?width=816&height=1056&cropmode=none" width="100%" height="100%"/>
</div>
