@page "/menu/tab"

<div>
    <div class="shadow-lg mb-5">
        <img src="https://vecszq.dm.files.1drv.com/y4m9bqx2Ql8t2eVcfFSgtD0IZzWbeHV5cIcVEI3PxaxRnuHjlylekS-GDvr4Du6yg0hasgAkcCMX1rXfDAt-0O73WPCKPUhs5eNGLOEXlA9k-jhz8SHpvK_OeUqkRkmGGMYyJXXT788VJDgQAbZSHoDfidzLJj5gU5sWwKcKe2y5XBJ3lI7Qilq9sj7MttOWsz_MmGzqS8e6rn2cVlD8cWLCw?width=385&height=700&cropmode=none" width="100%" height="100%" />

    </div>




<div class="shadow-lg mb-5">
<img src="https://jauitq.dm.files.1drv.com/y4mC87OB-UCbcrhMg317Pd1kraFt_m3rFPp_3kV8J_3pmQhhnB7ru9kPl6IKNFKy9xWfZPG5xw31CwAaVn6Ba5HgSZnVSkulGNde9031takY5vgor2LUXH-QxFKIx1CnZgLFCHGmEdeuCsEezXI-O8qc24lzUQ8Yjr-x_vE_647WH_GpM8QgLBLp14R9ljGKg6dDdl6e4MMhkx7obwCnHcwiA?width=370&height=700&cropmode=none" width="100%" height="100%"/>
</div>

<div class="shadow-lg mb-5">
<img src="https://77u5bw.dm.files.1drv.com/y4mT795qEVdHlkn-YFYLgrucBYZNF04l-Z3rZ2_DV8G0exm8k3uLSkH7VDz4IzoNrpgpzMPvJQDZDyENwS3i2XCwQpOCktXz0M85N-SPQRQVhfKju75Yk2BOzyKKa1Ehx5w0SJrscQ4r8YPj3rR9V5AN3rO5-5nMWr9vqZj20gVVDlhDaa6oNaAFN36lsy2jRkdbCdSDm2hWxZ-A3F4VKSGiw?width=384&height=700&cropmode=none" width="100%" height="100%" />
</div>

<div class="shadow-lg mb-5">
<img src="https://hl7dhw.dm.files.1drv.com/y4mIncU79GRaaxVtXBSZp-8LVnUgOIfy8Ofga_kQbvN6SWZywFdS6kTdYCTBulSoxFzxdPIJoL0HVj-NHoc7sd4gXdg7tgHH_jvcMvf2O7rlo2bnhwF4y70B_SLVIAjZ32zH_PpfzD_-m20uVOvA_c7HMUxZqpvTXRj2ZBtQGxo0YcCIhU1UFWl6Qeuj3qzW1hn9fZdKlwjgNHBdfPIZkndVg?width=385&height=700&cropmode=none" width="100%" height="100%"/>
</div>

<div class="shadow-lg mb-5">
<img src="https://vecszq.dm.files.1drv.com/y4m9bqx2Ql8t2eVcfFSgtD0IZzWbeHV5cIcVEI3PxaxRnuHjlylekS-GDvr4Du6yg0hasgAkcCMX1rXfDAt-0O73WPCKPUhs5eNGLOEXlA9k-jhz8SHpvK_OeUqkRkmGGMYyJXXT788VJDgQAbZSHoDfidzLJj5gU5sWwKcKe2y5XBJ3lI7Qilq9sj7MttOWsz_MmGzqS8e6rn2cVlD8cWLCw?width=385&height=700&cropmode=none" width="100%" height="100%" />
</div>

</div>